.card {
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-left: 37px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card p {
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    margin-left: 15px;
    color: #333333
}

.card img {
    width: 20px;
    height: 23px;
    color: #333333;
    margin-right: 20px;;
}